.ant-checkbox-group-item {
    /* display: block; */
    /* padding: 7px 7px 7px 7px; */
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    /* margin: 10px !important; */
    padding: 10px !important;
  }
  
  .outer-border {
    max-height: 500px;
    /* display: block; */
    position: relative;
    overflow-y: auto;

    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  
  .checkbox-header {
     width: 100%;
     /* margin-top: 7px; */
     margin-bottom: 0px;
  }
  
  .checkbox-group {
    width: 100%;
    display: block;
  }